

.nimblepress_post_meta_entry {
	display: block;
	margin-bottom: 10px;
}
.nimblepress_post_meta_entry_title {
	font-weight: bold;
	margin-bottom: 10px;
}
.nimblepress_introduction {
	font-size: 1.25em;
	padding-top: 15px;
}
.nimblepress_introduction ul {
   list-style-type: disc; 
   list-style-position: inside;
}

#accordion-section-nimblepress_upsell h3 {
	color: #d64131 !important;
	font-weight: 700;
}

.nimblepress_admin_grid {
	display: flex;
	width : 100%;
	justify-content: flex-start;
	align-content:flex-start;
	flex-wrap: wrap;
	flex_direction: row;
	gap: 1em;
}

.nimblepress_admin_grid_item {
	display: flex;
	width : 100%;
	justify-content: flex-start;
	align-items: center;
	font-size : 1.5em;
	background-color: #ffffff;
	padding: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
	min-width: 300px;
	max-width: 350px;
	word-break: normal;
	line-height: normal;
}

.nimblepress_admin_grid_item_text {
	font-size: 14px;
}